html, body { 
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

div#map { 
	height: 100%;
}

h2, h3, p, span, td, ol, ul {
	font-family: Arial;
}

p, ol, ul {
	font-size: 15px;
}

div.section {
	border: 1px solid black;
	margin: 10px 0px 10px 0px;
	padding: 10px;
	border-radius: 8px;
	text-align: center;
}

div.section table {
	width: 100%;
	text-align: left;
}

div.section h3 {
	margin: 0px 0px 5px 0px;
	display: inline-block;
}

.fit {
	width: 1%;
	white-space: nowrap;
}

.fill {
	width: 100%;
}

img#avatar {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.code {
	font-family: monospace;
	font-size: 15px;
	text-align: left;
}

.strk {
	text-decoration: line-through;
}

iframe[name=hiddenIframe] {
	display: none;
}

/* SEARCH */

input[type=text], 
input[type=number] {
	box-sizing: border-box;
	width: 100%;
}

img.country {
	height: 20px;
	vertical-align: middle;
}

select {
	width: 100%;
}

#searchByProp .code {
	text-align: right;
}

/* STATS */

div#stats h2 {
	margin-bottom: 10px;
}

p#buttons {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 200%;
}

table.stats {
	width: 100%;
}

table.stats tr td div#circle {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	border: solid 5px;
}

table.stats tr td div#line {
	width: 25px;
	height: 8px;
	border: 0px;
	background: black;
}

td#data {
	text-align: right;
}

/* INFO */

table.tags {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

table.tags tr td {
	border: 1px solid black;
	word-wrap: break-word;
}

table.tags tr td.key {
	width: 110px;
	background: rgba(0, 0, 0, 0.06);
}

input.tag, 
input#comment {
	box-sizing: border-box;
	width: 100%;
}

img.icon {
	width: 20px;
	height: 20px;
}

button.icon {
	width: 20px;
	height: 20px;
	padding: 0px;
	box-sizing: content-box;
	vertical-align: top;
}

i.icon {
	vertical-align: top;
}

/* Html Panel */

div.panelWrapper {
	margin: 10px 0px 10px 0px;
}

div.panel {
	border-radius: 10px;
	padding: 3px;
}

div.euStyle {
	background-color: #19408b;
}

div.usStyle {
	background-color: #006f53;
}

div.subPanel {
	border: white 3px solid;
	border-radius: 10px;
	width: calc(100% - 20px);
	min-width: 150px;
	margin: 2px;
	padding: 5px;
	color: white;
	font-family: TrafficTypSpaD;
	font-size: 20px;
}

/* Road Panel */

div.subPanel.road {
	text-align: center;
	font-size: 30px;
}

div.subPanel.road .ref {
	display: inline-block;
	border: 2px white solid;
	padding: 0px 5px;
	margin: 5px;
}

div.subPanel.road .symbol {
	padding: 5px 0px 0px 0px;
}

div.subPanel.road .symbol img {
	margin: 5px;
	width: 50px;
}

div.subPanel.road .name {
	display: inline-block;
}

/* Exit Panel */

div.symbolsHolder {
	width: 100%;
	box-sizing: border-box;
	padding: 0px 0px 2px 0px;
}

div.symbolsHolder .symbol {
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: top;
	background-color: white;
}

div.symbolsHolder .symbol img {
	width: 100%;
	vertical-align: bottom;
}

div.symbolsHolder .symbol .unknownSymbol {
	width: 100%;
	height: 100%;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	padding: 3px;
	border: 1px white solid;
	border-radius: 3px;
	font-family: TrafficTypSpaD;
	font-size: 20px;
	color: white;
}

.euStyle .symbolsHolder {
	text-align: center;
}

div.subPanel.refPanel {
	text-align: right;
}

div.subPanel.refPanel .exitSymbol {
	margin-right: 10px;
	float: left;
}

.euExitSymbol {
	font-size: 15px;
}

.usExitSymbol {
	margin-top: 4px;
	font-size: 15px;
}

div.subPanel.destinationPanel {
	overflow: hidden;
}

div.subPanel.destinationPanel table {
	width: 100%;
}

div.subPanel.destinationPanel table tr td {
	color: white;
	font-family: TrafficTypSpaD;
	font-size: 20px;
}

div.subPanel.destinationPanel table tr td.refCell {
	text-align: right;
}

div.refText, 
div.intRefText {
	margin: 1px;
	font-size: 18px;
	display: inline-block;
}

div.refText {
	background-color: red;
}

div.intRefText {
	background-color: green;
}

/* ABOUT */

img.example {
	vertical-align: middle;
}

/* SETTINGS */

div.slider {
	margin: 0px 10px 0px 10px;
}

div#small_circle {
	width: 8px;
	height: 8px;
	border-radius: 8px;
	border: solid 3px;
	border-color: orange;
	background: green;
}

div#big_circle {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	border: solid 5px;
	border-color: orange;
	background: green;
}

div#invisible_circle {
	width: 12px;
	height: 12px;
	border-radius: 12px;
	border: solid 4px;
	border-color: orange;
	background: green;
	opacity: 0.4;
}

div#visible_circle {
	width: 12px;
	height: 12px;
	border-radius: 12px;
	border: solid 4px;
	border-color: orange;
	background: green;
	opacity: 100%;
}
